= simple_form_for [blip.radar, blip] do |f|
  = f.input :name
  = f.input :quadrant, collection: quadrants
  = f.input :ring, collection: rings
  = f.input :notes
  = f.submit class: 'btn btn-default'
