- title "Starter Topics"

%p
  Enter a few topics that you want to track on your first radar. You can add more later.

%p
  Check out the #{link_to "ThoughtWorks Radar A-Z", "http://www.thoughtworks.com/radar/a-z"} if you need some ideas.

= simple_form_for(@starter_topics, url: starter_topics_path, method: :post) do |f|
  = f.input :topic_1, label: false
  = f.input :topic_2, label: false
  = f.input :topic_3, label: false
  = f.submit
