= title 'New Radar'

= simple_form_for(radar) do |f|
  = f.input :name
  = f.input :topics, as: :text, input_html: { rows: 6 }, hint: "List any new topics that you want track, one per line. You can add more later."
  = f.submit 'Create Radar', class: 'btn btn-primary'

%br
= link_to 'Back to Radars', radars_path, class: 'btn btn-default'

