= simple_form_for [blip.radar, blip] do |f|
  = f.input :topic_id, collection: topics, input_html: { class: 'select2' } unless editing
  = f.input :quadrant, collection: quadrants
  = f.input :ring, collection: rings
  = f.input :notes
  = f.submit class: 'btn btn-primary'
