%li= link_to 'Contact Us', page_path("contact")
- if user_signed_in?
  %li= link_to 'My Radars', radars_path
  %li= link_to 'Account', edit_user_registration_path
  %li= link_to 'Sign Out', destroy_user_session_path, method: 'delete'
  - if current_user.admin?
    %li= link_to 'Users', users_path
- else
  %li= link_to 'Sign In', new_user_session_path
  %li= link_to 'Sign Up', new_user_registration_path
