- fail "No title for #{controller_name}/#{action_name}" unless content_for?(:title)
!!!
%html
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title= yield(:title) + ' :: techradar.io'
    %meta{name: "description", content: "#{content_for?(:description) ? yield(:description) : 'Techradar'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  - if Rails.env.production?
    :javascript
        !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
        analytics.load("#{ENV.fetch("SEGMENT_WRITE_KEY")}");
        analytics.page()
        }}();
  %body{class: body_classes}
    %header
      = render 'layouts/navigation'
    %main{role: "main"}
      .container
        = render 'layouts/messages'
        = yield
        .social-links
          Follow
          = link_to "@techradar_io", "https://twitter.com/techradar_io"
          on Twitter
        .disclaimer
          techradar.io is not affiliated with, sponsored or endorsed by
          = link_to "ThoughtWorks", "http://www.thoughtworks.com/"
        .credit
          Built by
          = link_to "@andyw8", "https://twitter.com/andyw8"
